@import "tailwindcss/base";
@import "tailwindcss/utilities";
@import "tailwindcss/components";


h1{
  @apply text-center text-3xl
}

h2{
  @apply mt-8 text-xl font-bold
}


.nav-link{
  @apply p-2 hover:bg-yellow-300 focus:bg-yellow-300
}

.button{
  box-shadow: .25rem .25rem black;
  display: block;
  max-width: max-content;
  @apply bg-yellow-300 hover:bg-yellow-400 font-semibold py-2 px-4 text-black border border-black mt-2 ml-auto
}

.text-input{
  @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight
}

.label{
  @apply block text-gray-700 text-sm font-bold mb-2
}