@import "tailwindcss/base";
@import "tailwindcss/utilities";
@import "tailwindcss/components";

::selection{
  @apply text-white bg-black
}

h1{
  @apply text-center text-3xl
}

h2{
  @apply mt-8 text-xl font-bold
}


.nav-link,.style-nav-links > a{
  @apply p-2 hover:bg-yellow-300 focus:bg-yellow-300
}
.style-nav-links a{
  display:block;
}

.button{
  box-shadow: .25rem .25rem black;
  display: block;
  max-width: max-content;

  &.yellow{
    @apply bg-yellow-300 hover:bg-yellow-400
  }

  &.red{
    @apply bg-red-400 hover:bg-red-500
  }

  &.white{
    @apply hover:bg-gray-200
  }

  @apply font-semibold py-2 px-4 text-black border border-black mt-2 ml-auto cursor-pointer
}

.text-input{
  @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight
}

.label{
  @apply block text-gray-700 text-sm font-bold mb-2
}

.priority-1{
  @apply text-yellow-400
}
.priority-2{
  @apply text-yellow-600
}
.priority-3{
  @apply text-green-600
}
.priority-4{
  @apply text-purple-400
}
.priority-5{
  @apply text-gray-400
}